@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h4,
h6 {
    font-family: "Fugaz One", sans-serif;

}

p {
    font-family: "Open Sans", sans-serif;
}

.btn {
    font-family: "Open Sans", sans-serif;
}

a {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #ECFDF5;
}

.section-navbar {
    width: 100%;
    height: 80px;
    /* background-color: #ECFDF5; */
    padding: 1rem;

}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #064E3B;
    border-radius: 6.4rem;
    -webkit-border-radius: 6.4rem;
    -moz-border-radius: 6.4rem;
    -ms-border-radius: 6.4rem;
    -o-border-radius: 6.4rem;
    /* margin: 1rem; */
}

/* .navbar .another-navbar {
    margin: 1rem;
} */

.section-navbar .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 2rem; */

}

.section-navbar .navbar ul {
    display: flex;
    gap: .8rem;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 2rem;

    & li {
        list-style: none;
    }

    & li a {
        color: white;
        text-decoration: none;
    }

    & li a:hover {
        color: #A7F3D0;

    }

}

.logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container .logo p {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.container .logo .fa-solid {
    color: #fff;
}


.section-navbar .another-navbar {
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 2rem; */

}

.section-navbar .another-navbar ul {
    display: flex;
    gap: .8rem;
    text-decoration: none;
    font-size: 1rem;

    & li {
        list-style: none;
    }

    & li a {
        color: white;
        text-decoration: none;
    }

    & li a:hover {
        color: #A7F3D0;

    }

}

/*______________________________________________________
     Home Section Start
   _______________________________________________________-*/

main {
    position: relative;
}

.container-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.section-home--content {
    /* margin-left: 4rem; */

    & h1 {
        font-size: 2.5rem;
        font-weight: 800;
        color: #064E3B;
    }

    & p {
        font-size: 22px;
        line-height: 1.5;
        font-weight: 400;
        margin-top: 2rem;
        color: #059669;
    }

    .btn {
        width: 10rem;
        height: 2.8rem;
        background-color: #65A30D;
        color: #fff;
        display: inline-block;
        border-radius: 0.6rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;
        text-decoration: none;
        text-align: center;
        margin-top: 1rem;
        padding: .8rem 1rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .btn:hover {
        background-color: #064E3B;
    }
}

.home-images .images1 img {
    margin-top: 3rem;
    width: 300px;
    height: 200px;
}

.home-images .images2 {
    gap: 2rem;
}

.home-images .images2 img {

    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 200px;
    height: 250px;
}

/*______________________________________________________
     Mission Content
   _______________________________________________________-*/

.mission_section {
    margin: 5rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & h1 {
        display: flex;
        color: #65A30D;
        font-size: 3.6rem;
        font-weight: 400;
        align-items: center;
        justify-content: center;
    }

    & p {
        font-size: 3rem;
        color: #059669;
        margin-top: 1.5rem;
        font-weight: 400;
        line-height: 1.1;
        text-align: center;
        font-family: "Fugaz One", sans-serif;
    }
}


/*______________________________________________________
    Our Solution Content
   _______________________________________________________-*/
.solution_section {
    width: 95%;
    height: 100vh;
    /* margin: 10rem 2rem 2rem 2rem; */
    margin: 2rem;
    margin-top: 8rem;

}

.solution_content {

    & h1 {
        font-size: 3.5rem;
        font-weight: 400;
        color: #064E3B;
    }

    & P {
        font-size: 1.5rem;
        font-weight: 400;
        color: #064E3B;
    }

}


.left_solution {
    /* width: 10rem;
    height: 32.4rem; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* margin-top: 2rem; */
    gap: 2.4rem;
    /* margin-left: 20rem; */

}

.left_solution .another_solution {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    width: 1290px;
    height: 23rem;
    border: 2px solid #A7F3D0;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;

    & .Solution_images img {
        align-items: center;
        border-radius: 0 1.6rem 1.6rem 0;
        -webkit-border-radius: 0 1.6rem 1.6rem 0;
        -moz-border-radius: 0 1.6rem 1.6rem 0;
        -ms-border-radius: 0 1.6rem 1.6rem 0;
        -o-border-radius: 0 1.6rem 1.6rem 0;
    }
}

.solution_text {
    margin-left: 2rem;
    margin-top: 3rem;

    & h6 {
        font-size: 1.1rem;
        font-weight: 600;
        color: #064E3B;
    }

    & h1 {
        font-size: 2.3rem;
        font-size: 400;
        margin-top: 2rem;
        line-height: 1;
        /* text-align: center; */
    }

    & p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    & .home-btn {

        & .btn {

            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 7rem;
            height: 2rem;
            background-color: #ECFDF5;
            color: #ECFDF5;
            padding: 16px, 24px, 16px, 24px;
            border-radius: .8rem;
            -webkit-border-radius: .8rem;
            -moz-border-radius: .8rem;
            -ms-border-radius: .8rem;
            -o-border-radius: .8rem;
            margin-left: 3rem;
            border: 1px solid #064E3B;
            color: #064E3B;
            margin-top: 1.5rem;
        }

        .btn:hover {
            background-color: #064E3B;
            color: #DCFCE7;
        }
    }


}


/*_______________Rignt solution designing part ______________________*/

.another_solution2 {
    margin-top: 4rem;
    display: flex;
    /* gap: 1rem; */
    width: 1290px;
    height: 23rem;
    border: 2px solid #A7F3D0;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;

    & .Solution2_images img {
        margin-left: 5rem;
        border-radius: 0 1.6rem 1.6rem 0;
        -webkit-border-radius: 0 1.6rem 1.6rem 0;
        -moz-border-radius: 0 1.6rem 1.6rem 0;
        -ms-border-radius: 0 1.6rem 1.6rem 0;
        -o-border-radius: 0 1.6rem 1.6rem 0;
    }
}

.solution_text2 {
    margin-left: 2rem;
    margin-top: 3rem;


    & h6 {
        font-size: 1.1rem;
        font-weight: 600;
        color: #064E3B;
    }

    & h1 {

        font-size: 2rem;
        font-size: 400;
        margin-top: 1.4rem;
        line-height: 1;
    }

    & p {
        font-size: 1.3rem;
        margin-top: 1rem;
    }

    & .home-btn {
        /* margin-top: 1rem; */

        & .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 7rem;
            height: 2rem;
            background-color: #ECFDF5;
            color: #ECFDF5;
            padding: 16px, 24px, 16px, 24px;
            border-radius: .8rem;
            -webkit-border-radius: .8rem;
            -moz-border-radius: .8rem;
            -ms-border-radius: .8rem;
            -o-border-radius: .8rem;
            margin-left: 3rem;
            border: 1px solid #064E3B;
            color: #064E3B;
            margin-top: 1.5rem;

        }

        .btn:hover {
            background-color: #064E3B;
            color: #DCFCE7;
        }
    }




}


/* _____________________________________________________ 
How it works?
______________________________________________________  */
.farm_works {
    width: 100%;
    height: 100vh;
    margin-top: 10rem;
}

.farm_content {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15rem;
}

.farm_text {

    & h1 {
        font-size: 5rem;
        font-weight: 400;
        color: #064E3B;
    }

    & p {
        font-size: 2rem;
        font-weight: 400;
        color: #059669;
        margin-top: .2rem;
    }

    & .farm_btn {
        margin-top: 3rem;

        .btn {
            width: 7rem;
            height: 3rem;
            /* background-color: #65A30D; */
            color: #064E3B;
            display: inline-block;
            border: 2px solid #34D399;
            border-radius: 0.6rem;
            -webkit-border-radius: 0.6rem;
            -moz-border-radius: 0.6rem;
            -ms-border-radius: 0.6rem;
            -o-border-radius: 0.6rem;
            text-decoration: none;
            text-align: center;
            padding: .8rem .2rem;
            font-size: 1rem;
            font-weight: 600;
        }

        .btn:hover {
            background-color: #064E3B;
            color: #A7F3D0;
        }
    }
}

.farm_images {
    /* width: 20rem; */
}

.another_farm {
    width: 100%;
    height: 14rem;
    background-color: #DCFCE7;
    margin-top: 5rem;
}


.another_farm .works_farm {
    display: flex;
}

.another_farm .works_farm .work_farm_content {
    margin: 2rem;
    margin-left: 4rem;

    & i {
        font-size: 2rem;
        color: #65A30D;
    }

    & h1 {
        font-size: 1.5rem;
        color: #064E3B;
        font-weight: 500;
        margin-top: 1rem;
    }

    & p {
        color: #059669;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1rem;
    }
}

/* _____________________________________________________ 
Our Testominals Part
______________________________________________________  */
.main_testmonials {
    width: 100%;
    height: 100vh;
    margin-top: 4rem;


    & h1 {
        font-size: 5rem;
        color: #064E3B;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.testmonial_box_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 5rem;
}

.testmonial_content {
    background-color: #DCFCE7;
    width: 25rem;
    height: 20rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;

    & img {
        margin-top: 2rem;
        margin-left: 8rem;
    }

    & h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        color: #064E3B;
        margin-top: .5rem;
    }

    p {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
        font-weight: 400;
        color: #064E3B;
    }
}

/* _____________________________________________________ 
Farming Hub
______________________________________________________  */

.main_farming_hub {
    width: 100%;
    height: 80vh;
    background-color: #fff;
}

.farming_hub {
    width: 90%;
    height: 100vh;
    background-color: #ECFDF5;
    margin-left: 4.5rem;

    & h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        color: #064E3B;
    }

    & p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: #059669;
        margin-top: 1rem;
    }
}

.farming_hub .price_tag {
    margin: 5rem;
    margin-left: 20rem;
    width: 40rem;
    height: 18rem;
    border: 2px solid #A7F3D0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.farming_hub .price_tag .farm_price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin: 2rem;

}

.info_price {
    margin: 2rem;

    & .info_text {
        display: flex;
        justify-content: center;

        & h1 {
            font-size: 2rem;
            color: #064E3B;
        }

        & p {
            font-size: 1rem;
            color: #064E3B;
        }
    }


    & p {
        font-size: 1rem;
        color: #059669;
    }
}

.info_price2 {

    & .info_content {
        display: flex;
        gap: .4rem;
        margin-top: .5rem;

        & i {
            color: #65A30D;
            font-size: 1rem;
            margin-top: 1rem;
        }

        & p {
            color: #064E3B;
            font-size: 1rem;
        }
    }
}

.price_tag .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 10rem;
    height: 3rem;
    background-color: #65A30D;
    color: #ECFDF5;
    padding: 16px, 24px, 16px, 24px;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    margin-left: 15rem;
}

.price_tag .btn:hover {
    background-color: #064E3B;
}


/* _____________________________________________________ 
Our Contact Us  Part
By using bootstrap
______________________________________________________  */
.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18rem;
    margin-top: 5rem;
}

.left_contact {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 30rem;
    height: 28rem;
    background-color: #064E3B;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;

    & p {
        color: #D1FAE5;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 1.9rem;
    }
}

.form-control {
    width: 20rem;
    height: 2rem;
    margin-top: .2rem;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    
    background-color: #ECFDF5;
    margin-top: .2rem;

}

.col ::placeholder{
    color: #A7F3D0;
}

.form-control2 {
    width: 20rem;
    height: 8rem;
    margin-top: .2rem;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    color: #A7F3D0;
    background-color: #ECFDF5;
    margin-top: .2rem;
}

.btn-primary {
    width: 8rem;
    height: 2.5rem;
    background: #65A30D;
    margin-top: 1rem;
    color: #ECFDF5;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    font-size: 1.3rem;
    font-weight: 500;
    border: 1px solid #A7F3D0;
}

.btn-primary:hover {
    background-color: #064E3B;
}

/*____________________-Contact Right Part________________-*/
.main_contact {


    & h1 {
        font-size: 5rem;
        color: #064E3B;
    }

    & span {
        font-family: "Open Sans", sans-serif;
        font-size: 2rem;
    }
}

.contact_content {
    display: flex;
    gap: .8rem;
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 2rem;

    i {
        color: #F472B6;
        font-size: 1rem;
    }

    & h6 {
        color: #064E3B;
        font-size: 1rem;
        font-weight: 400;
    }

    & p {
        margin-top: .2rem;
        font-size: .8rem;
        color: #059669;
    }
}

/* _____________________________________________________ 
Our Footer  Part
______________________________________________________  */

.footer_container {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 100%;
    height: 5rem;
}


.footer_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
    gap: 20rem;
}

.footer_navbar ul {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 2rem;

    & li {
        list-style: none;
    }

    & li a {
        color: #064E3B;
        text-decoration: none;
    }

    & li a:hover {
        color: #059669;

    }

}

.footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.footer_navbar .footer_logo p {
    font-size: 1rem;
    font-weight: 600;
    color: #064E3B;
}

.footer_navbar .footer_logo .fa-solid {
    color: #064E3B;
}

.social_icon {
    color: #064E3B;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer_copyright {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;

    & p {
        font-size: 1.2rem;
        color: #064E3B;
    }
}

hr{
    display: block;
    height: 1px;
    /* font-size: 20px; */
    border: 0;
    border-top: 1px solid #064E3B;
    /* margin: 1em auto; */
    margin-left: 4rem;
    margin-right: 8rem;
    padding: 0;
}

.footer_copyright .footer_term {
display: flex;
/* justify-content: space-between; */
/* align-items: center; */
gap: 2rem;


    & a {
        text-decoration: none;
        font-size: 1.2rem;
        color: #064E3B;
    }

    & a:hover{
        color: #34D399;
    }
}